<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="phpunit.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         syntaxCheck="true"
         verbose="true">
    <testsuites>
        <testsuite name="Simple Test Suite">
            <directory suffix="Test.php">tests</directory>
            <exclude>
                <file>tests/Cache/StoreTest.php</file>
            </exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="logs/report" charset="UTF-8" highlight="false" lowUpperBound="50" highLowerBound="80"/>
        <log type="coverage-clover" target="logs/coverage.xml"/>
        <log type="coverage-php" target="logs/coverage.serialized"/>
    </logging>
</phpunit>